.footer {
    margin-top: 5pc;
    background-color: #000000;
    padding: 50px;
}

.footer__left > img {
    width: 150px;
}

.footer__mobApp {
    margin-top: 7pc;
}

.footer__android {
    width: 140px;
    margin-left: 20px;
}